* {
	box-sizing: border-box;
}
html,body {
	font-family: Georgia,Helvetica, sans-serif; /*'Varela Round'*/
	line-height: 1.6;
	color: #fff;
	margin: 0;
	height: 100%;
	background: linear-gradient(45deg, rgba(94,206,127,.6), rgba(57,173,209,.6));
	background-size: cover;
	}
p {
	font-size: .95em;
	margin-top: 0;
	margin-bottom: 1.5em;
}
h3 {
	margin-top: .8em;
	margin-bottom: .6em;
	text-align: center;
}
.contact{
	margin: 3.5px;
	text-align: center;
	padding: 14px;
	
}
.fa-3x{
	margin: 3.5px;
	padding: 14px;
	font-size: 3em;
}

a:hover{
	color: orangered;
}
a {
	color: dodgerblue; 
}


/* ================================= 
Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.banner {
	color: #fff;
	text-align: center;
	background-size: auto;
	padding: 3.2em 0;
	margin-bottom: 3em;
	text-shadow: 0 1px rgba(0,0,0,.35);
}
.main{
	text-align: center;
}

/* ================================= 
Media Queries
==================================== */

@media (min-width: 769px) {
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.headline {
		font-size: 3em;
	}
	.tagline {
		font-size: 1.65em;
	}
	.fc {
		display: -webkit-flex;
		display: flex;
	}
	.item {
		-webkit-flex: 1 50%;
		flex: 1 50%;
		text-align: center;
		margin-bottom: 2em;
	}
	.row {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media (min-width: 1025px) {
	.row {
		width: 80%;
		max-width: 1150px;
	}
	.item {
		-webkit-flex-basis: 33.333333333%;
		flex-basis: 33.333333333%;
	}
}