* {
	box-sizing: border-box;
}
html,body {
	font-family: Georgia,Helvetica, sans-serif; /*'Varela Round'*/
	line-height: 1.6;
	color: #fff;
	margin: 0;
	background: linear-gradient(45deg, rgba(94,206,127,.6), rgba(57,173,209,.6));
	background-size: cover;
	}
	
	/*Section Styles*/
header {
		text-align: center;
		overflow: hidden;
		padding-top: 60px;
		line-height: 1.5;
}
header .profile-image {
		margin-top: 50px;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border: 3px solid #fff;
		transition: all .5s;
}
header .profile-image:hover {
		transform: scale(1.2) rotate(720deg);
}
.tag {
		background-color: #fff;
		color: dodgerblue;
		padding: 10px;
		border-radius: 5px;
		display: table;
		margin: 10px auto;
} 
.card {
		margin: 30px;
		padding: 20px 40px 40px;
		max-width: 500px;
		text-align: left;
		background: #fff;
		border-bottom: 4px solid #ccc;
		border-radius: 6px;
}
.card:hover {
		border-color: #ff99ff;
}
ul.skills {
	padding: 0;
	text-align: center;
  }
  
  .skills li {
	border-radius: 6px;
	display: inline-block;
	background: #ff9904;
	color: white;
	padding: 5px 10px;
	margin: 2px;
  }
  
  .skills li:nth-child(odd) {
	background: #0399ff;
  }
  
p {
	font-size: .95em;
	margin-top: 0;
	margin-bottom: 1.5em;
	color: dodgerblue;
}
h2 {
	margin-top: .8em;
	margin-bottom: .6em;
	text-align: center;
	color: dodgerblue;
}
.contact{
	text-align: center;
	background-color: #fff;
	color: dodgerblue;
	padding: 10px;
	border-radius: 5px;
	display: table;
	margin: 10px auto;
	
	
}
.fa-3x{
	margin: 3.5px;
	padding: 14px;
	font-size: 3em;
}

a:hover{
	color: orangered;
}
a {
	color: dodgerblue; 
}
.flex {
	display: flex;
	max-width: 1200px;
	justify-content: space-around;
	margin: 0 auto;
}


/* ================================= 
Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */
.main{
	text-align: center;
}

/*.banner {
	color: #fff;
	text-align: center;
	background-size: auto;
	padding: 3.2em 0;
	margin-bottom: 3em;
	text-shadow: 0 1px rgba(0,0,0,.35);
}*/


/* ================================= 
Media Queries
==================================== */

@media (min-width: 769px) {
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.headline {
		font-size: 3em;
	}
	.tagline {
		font-size: 1.65em;
	}
	.fc {
		display: -webkit-flex;
		display: flex;
	}
	.item {
		-webkit-flex: 1 50%;
		flex: 1 50%;
		text-align: center;
		margin-bottom: 2em;
	}
	.row {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media (min-width: 1025px) {
	.row {
		width: 80%;
		max-width: 1150px;
	}
	.item {
		-webkit-flex-basis: 33.333333333%;
		flex-basis: 33.333333333%;
	}
}