* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	color: #fff;
	margin: 0;
	background-color: #5cdb95;
	background-size: cover;
}

img {
	width: 85%;
	height: auto;
	overflow: hidden;
}

header {
	text-align: center;
}

nav {
	width: 100%;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nav-item {
	display: flex;
	padding: 10px 15px;
	text-decoration: none;
	color: #edf5e1;
	flex-direction: row;
	justify-content: space-around;
}

/* Header Animation */
.anime h1 {
	font-size: 50px;
	color: #edf5e1;
	padding: 50px;
	margin-top: 50px;
}

.main-nav {
	width: 100%;
	background-color: #379683;
	position: fixed;
}

.line {
	clear: both;
	margin: 4% auto;
	width: 90%;
	height: 2px;
	background-color: #05386b;
}

/*Section Styles*/
ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

li {
	padding: 5px;
}

li.nav-links {
	display: flex;
	flex-direction: row-reverse;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	justify-content: space-between;
	align-items: center;
}

.skills {
	border-radius: 6px;
	color: white;
	padding: 5px 10px;
	margin: 2px;
}

.skill_set {
	border-radius: 6px;
	display: table;
	background: #edf5e1;
	color: #379683;
	padding: 5px 10px;
	margin: 5px;
	text-align: center;
}

p {
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 1.5em;
	color: #edf5e1;
	font: bold;
	text-align: center;
}

h2 {
	margin-top: .8em;
	margin-bottom: .6em;
	text-align: center;
	color: #edf5e1;
}

.fa-3x {
	margin: 3.5px;
	padding: 14px;
	font-size: 3em;
	color: #379683;
}

a:hover {
	text-decoration: underline;
	color: #8ee4af;
}

a {
	color: #edf5e1;
	text-decoration: none;
}

.projects {
	text-align: center;
}

.contact {
	text-align: center;
}

.con {
	color: #edf5e1;
}

.con:hover {
	color: #05386b;
}

/* ================================= 
Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

/*.banner {
	color: #fff;
	text-align: center;
	background-size: auto;
	padding: 3.2em 0;
	margin-bottom: 3em;
	text-shadow: 0 1px rgba(0,0,0,.35);
}*/

/* ================================= 
Media Queries
==================================== */
@media (max-width: 768px) {
	h2 {
		padding-left: 50px;
		padding-right: 50px;
	}

	ul {
		flex-direction: column;
	}
}

@media (max-width: 375px) {
	ul.skills {
		display: flex;
		flex-direction: column;
	}
}
